@import "tailwindcss";

@font-face {
  font-family: "CharlevoixPro";
  src:
    url("/fonts/WOFF2/CharlevoixPro-Regular.woff2") format("woff2"),
    url("/fonts/WOFF/CharlevoixPro-Regular.woff") format("woff");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "CharlevoixPro";
  src:
    url("/fonts/WOFF2/CharlevoixPro-Bold.woff2") format("woff2"),
    url("/fonts/WOFF/CharlevoixPro-Bold.woff") format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
}

/* Default font class */
.font-charlevoix {
  font-family: "CharlevoixPro", sans-serif;
}

/* Specific styles for bold text */
.font-charlevoix-bold {
  font-family: "CharlevoixPro", sans-serif;
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

.calendar-container {
  position: relative;
  padding-bottom: 75%; /* Adjust the aspect ratio */
  height: 0;
  overflow: hidden;
}

.calendar-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .calendar-container {
    padding-bottom: 100%; /* Adjust aspect ratio for smaller screens */
  }
}
