---
import ReunionLayout from '../layouts/ReunionLayout.astro';
import NetlifyForm from '../components/NetlifyForm.astro';
---

<ReunionLayout title="Home">
    <section 
      class="relative w-full h-screen bg-cover bg-center flex flex-col items-center justify-center text-center font-charlevoix-bold"
      style="background-image: url('/home-2x-scaled.jpg');"
    >
      <div class="absolute inset-0 bg-black opacity-50"></div>

      <nav class="absolute top-0 left-0 w-full flex justify-center py-4 md:py-6 text-[#d89700] text-sm md:text-lg font-bold tracking-widest uppercase font-fleisch">
        <ul class="flex space-x-6 md:space-x-12">
          <li><a href="#about-us" class="hover:text-yellow-600 transition duration-300">About Us</a></li>
          <li><a href="#team-partners" class="hover:text-yellow-600 transition duration-300">Team Partners</a></li>
          <li><a href="#calendar" class="hover:text-yellow-600 transition duration-300">Calendar</a></li>
          <li><a href="#join-us" class="hover:text-yellow-600 transition duration-300">Join Us</a></li>
        </ul>
      </nav>
      
      <div class="hidden md:block absolute left-6 top-6">
        <img src="/location_estd_tag_r2.svg" alt="established" class="object-contain">
      </div>

      <div class="hidden md:block absolute left-8 top-0.70">
        <img src="/commitment_label.svg" alt="commitment" class="object-contain">
      </div>

      <div class="hidden md:block absolute right-8 top-0.70">
        <img src="/contribution_label.svg" alt="contribution" class="object-contain">
      </div>

      <div class="relative z-10 px-6 flex flex-col items-center justify-center mt-[-100px]">
        <img src="/rr_logo_full_r2.svg" alt="Reunion Racing Logo" class="object-contain">
      </div>

      <div class="hidden md:block absolute bottom-32 w-full text-center">
        <p class="text-[#d89700] uppercase tracking-widest text-lg md:text-xl lg:text-xl">Commitment to Team</p>
      </div>
      
      <div class="absolute bottom-30 left-8 flex-col space-y-3">
        <a href="https://www.strava.com/clubs/823327" target="_blank" rel="nofollow noreferrer">
          <i class="fab fa-strava text-[#d89700] text-3xl hover:text-yellow-600 transition duration-300"></i>
        </a>
        <br/>
        <br/>
        <a href="https://www.facebook.com/Réunion-Racing-107501841298006" target="_blank" rel="nofollow noreferrer">
          <i class="fab fa-facebook-f text-[#d89700] text-3xl hover:text-yellow-600 transition duration-300"></i>
        </a>
        <br/>
        <br/>
        <a href="https://www.instagram.com/reunionracing/" target="_blank" rel="nofollow noreferrer">
          <i class="fab fa-instagram text-[#d89700] text-3xl hover:text-yellow-600 transition duration-300"></i>
        </a>
      </div>

      <div class="absolute bottom-0 w-full bg-[#d89700] border-t-8 border-blue-400 py-4 tracking-wide">
        <div class="flex justify-center items-center mt-4 space-x-4">
          <img src="/estd_horizontal.svg" alt="est" class="object-contain">
        </div>
      </div>

    </section>

    <section 
      id="about-us"
      class="relative w-full min-h-screen bg-cover bg-center flex flex-col items-center justify-center text-center px-16 py-32 font-charlevoix"
      style="background-image: url('/wheels-scaled.jpg');"
    >
      <div class="absolute inset-0 bg-black opacity-60"></div>
      <div class="relative z-10 max-w-4xl text-white">
        <h2 class="text-[#d89700] text-5xl font-bold mb-8">About Us</h2>
        <p class="mt-10 text-3xl font-light leading-relaxed">Réunion Racing is an amateur competitive cycling team based in Dallas, Texas. Created to fill a void in the region of a team-driven, competition-focused, community-committed team honoring the historic culture of the sport, Réunion Racing is a 501(c)(4) nonprofit organization registered with <span class="text-[#d89700] font-semibold"><a href="https://usacycling.org" class="hover:text-yellow-600 transition duration-300">USA Cycling</a></span>. We are dedicated to championing and growing the sport of competitive cycling across all racing disciplines and helping dismantle the many perceived barriers for new competitors.</p>
        <div class="mt-10">
          <img src="/rr_crest_r2.svg" alt="Team Logo" class="mx-auto h-30">
        </div>
        <p class="mt-10 text-3xl font-light leading-relaxed">Réunion Racing believes that competing provides a unique and rich sense of fulfillment and pride, regardless of outcome. Our team is governed by a code of ethics and conduct and is overseen by our board of directors. While we stop short of strictly adhering to each of <span class="text-[#d89700] font-semibold"><a href="https://www.velominati.com" class="hover:text-yellow-600 transition duration-300">Velominati’s Rules</a></span>, we respect their intent and the heritage and etiquette from which they stem. We believe in riding safe, treating others as you wish to be treated, exceptional sportsmanship, and leading by example.</p>
      </div>
    </section>

    <section class="w-full min-h-screen flex flex-col items-center justify-center text-center px-12 py-20 bg-white font-charlevoix">
      <h2 class="text-[#d89700] text-5xl font-bold mb-8">Ethos</h2>
      <div class="max-w-3xl mx-auto text-gray-800 text-xl leading-relaxed">
        <img src="/bicyclette.png" alt="Sketch of a Bike" class="mx-auto h-60 mb-8">
        <p>Like the original <span class="text-[#d89700]"><a href="https://en.wikipedia.org/wiki/La_R%C3%A9union_(Dallas)" class="hover:text-yellow-600 transition duration-300">European settlement in Dallas</a></span> from which Réunion Racing takes its name, the team is united in the belief that commitment to community is both essential and rewarding. Réunion Racing does not and shall not discriminate on the basis of race, color, religion (creed), gender expression, age, national origin (ancestry), disability, marital status, sexual orientation, or military status in any of its activities or operations. We are committed to providing a welcoming environment for all team members and their families, always operating from a place of respect for our fellow cyclists and competitors, sponsors and partners, race promoters, volunteers and the general public.</p>
      </div>
    </section>

    <section class="w-full min-h-screen flex flex-col items-center justify-center text-center px-12 py-20 bg-white relative font-charlevoix">
      <div class="absolute inset-0 w-full h-full bg-cover bg-center opacity-250" style="background-image: url('/team-w-bicycles.jpg');"></div>
      <img src="/oui_hero.svg" alt="Sketch of a Bike" class="mx-auto h-60 mb-8 relative z-20">
    </section>

    <section 
      id="team-partners"
      class="relative w-full min-h-screen flex flex-col items-center justify-center text-center px-12 py-20 bg-white relative font-charlevoix"
    >
      <h2 class="text-[#d89700] text-5xl font-bold mb-8">Team Partners</h2>
      <div class="max-w-3xl mx-auto text-gray-800 text-xl leading-relaxed">
      <p>Réunion Racing builds mutually beneficial partnerships with like-minded cycling industry companies, local businesses and charitable organizations. We are honored to promote these partnerships on our team kits, website, and social media platforms. Additionally, we support at least one nonprofit organization annually through social media, education, volunteer efforts, membership drive assistance, and fundraising as applicable.</p>
      <p>Please lend your support to the following businesses:</p>
      </div>

      <div class="mt-10 md:mt-16"></div>

      <div class="grid grid-cols-4 grid-rows-2 gap-14 items-center justify-center max-w-4xl mx-auto">
        <div class="flex justify-center">
          <a href="https://www.ekoi.com/en-us/" target="_blank" rel="noopener noreferrer">
            <img src="/02-EKOI-NOIR.png" alt="Ekoi" class="w-32 md:w-40">
          </a>
        </div>
        <div class="flex justify-center">
          <a href="https://nofallenheroesfoundation.org" target="_blank" rel="noopener noreferrer">
            <img src="/no-fallen-heroes.png" alt="No Fallen Heroes" class="w-32 md:w-40">
          </a>
        </div>
        <div class="flex justify-center">
          <a href="https://picklepower.com" target="_blank" rel="noopener noreferrer">
            <img src="/pickle-juice.png" alt="Pickle Juice" class="w-32 md:w-40">
          </a>
        </div>
        <div class="flex justify-center">
          <a href="https://jakroo.com" target="_blank" rel="noopener noreferrer">
            <img src="/Jakroo-logo-2.jpg" alt="Jakroo" class="w-32 md:w-40">
          </a>
        </div>
        <div class="flex justify-center">
          <a href="https://usacycling.com" target="_blank" rel="noopener noreferrer">
            <img src="/usacycling-logo.svg" alt="USA Cycling" class="w-32 md:w-40">
          </a>
        </div>
        <div class="flex justify-center">
          <a href="https://www.celestialbeerworks.com" target="_blank" rel="noopener noreferrer">
            <img src="/celestial.png" alt="Celestial" class="w-32 md:w-40">
          </a>
        </div>
        <div class="flex justify-center">
          <a href="https://go.topgunoptions.com" target="_blank" rel="noopener noreferrer">
            <img src="/top-gun-logo.png" alt="Top Gun Options" class="w-32 md:w-40">
          </a>
        </div>
        <div class="flex justify-center">
          <a href="https://www.williamsracingacademy.com" target="_blank" rel="noopener noreferrer">
            <img src="/wra-logo.png" alt="WRA" class="w-32 md:w-40">
          </a>
        </div>
      </div>

    </section>

    <section
      id="calendar"
      class="relative w-full min-h-screen bg-cover bg-center flex flex-col items-center justify-center text-center px-16 py-32 font-charlevoix"
    >
      <h2 class="text-[#d89700] text-5xl font-bold mb-8">Calendar</h2>

        <h3 class="text-2xl md:text-3xl font-bold text-yellow-600">📅 Stay Up to Date with Réunion Racing!</h3>
          <p class="mt-4 text-gray-700 max-w-2xl mx-auto">
            Our calendar is your go-to resource for upcoming races, training sessions, team events, and community rides. 
            Whether you're preparing for your next big race or looking to connect with fellow cyclists, this is where you'll 
            find all the key dates. Check back regularly so you never miss an opportunity to ride, compete, and grow with the team! 🚴‍♂️🔥
          </p>
      <div class="mt-10 md:mt-16"></div>
      <iframe src="https://calendar.google.com/calendar/embed?wkst=1&ctz=America%2FChicago&title=R%C3%A9union%20Racing%20Calendar&src=aW5mb0ByZXVuaW9ucmFjaW5nLm9yZw&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%230B8043"
              style="border: 0;"
              width="100%"
              height="600"
              frameborder="0"
              scrolling="no">
      </iframe>
    </section>

    <section 
      id="join-us"
      class="relative w-full min-h-screen bg-cover bg-center bg-stone-100 flex flex-col items-center justify-center text-center px-16 py-32 font-charlevoix"
    >
      <h2 class="text-[#d89700] text-5xl font-bold mb-8">Join Us</h2>
      <NetlifyForm/>
      </div>
    </section>

    <section
      id="instagram-feed"
      class="relative w-full min-h-screen bg-cover bg-center flex flex-col items-center text-center px-4 md:px-8 py-32 font-charlevoix"
    >

      <div class="w-full flex justify-center">
        <div class="instagram-wrapper w-full max-w-lg">
          <blockquote 
            class="instagram-media w-full" 
            data-instgrm-permalink="https://www.instagram.com/reunionracing/?utm_source=ig_embed&amp;utm_campaign=loading"
            data-instgrm-version="14"
            style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"
          >
            <div style="padding:16px;">
              <a href="https://www.instagram.com/reunionracing/?utm_source=ig_embed&amp;utm_campaign=loading"
                 style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;"
                 target="_blank"> 
                <div style=" display: flex; flex-direction: row; align-items: center;"> 
                  <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;">
                  </div> 
                  <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> 
                    <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;">
                    </div> 
                    <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;">
                    </div>
                  </div>
                </div>
                <div style="padding: 19% 0;">
                </div> 
                <div style="display:block; height:50px; margin:0 auto 12px; width:50px;">
                  <svg width="50px" height="50px" viewBox="0 0 60 60" 
                       version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-511.000000, -20.000000)" fill="#000000">
                    <g>
                    <path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631">
                    </path>
                    </g>
                    </g>
                    </g>
                  </svg>
                </div>
                <div style="padding-top: 8px;"> 
                  <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">View this profile on Instagram
                  </div>
                </div>
                <div style="padding: 12.5% 0;">
                </div> 
                <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;">
                  <div> 
                    <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);">
                    </div>
                    <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;">
                    </div> 
                    <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);">
                    </div>
                  </div>
                  <div style="margin-left: 8px;"> 
                    <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;">
                    </div>
                    <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)">
                    </div>
                  </div>
                  <div style="margin-left: auto;"> 
                    <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);">
                    </div> 
                    <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);">
                    </div> 
                    <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);">
                    </div>
                  </div>
                </div> 
                <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> 
                  <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;">
                  </div> 
                  <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;">
                  </div>
                </div>
              </a>
              <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
                <a href="https://www.instagram.com/reunionracing/?utm_source=ig_embed&amp;utm_campaign=loading" 
                   style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;"
                   target="_blank">Réunion Racing
                </a> 
              (@<a href="https://www.instagram.com/reunionracing/?utm_source=ig_embed&amp;utm_campaign=loading" 
                   style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;"
                   target="_blank">reunionracing
              </a>) • Instagram photos and videos
              </p>
            </div>
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        </div>
      </div>
  
      <div class="absolute bottom-0 w-full bg-[#d89700] py-16 tracking-wide">

        <div class="hidden md:block absolute left-18 top-6">
          <img src="/estd_vertical.svg" alt="ESTD Left" class="w-full h-full object-contain">
        </div>

        <div class="flex justify-center items-center mt-4 space-x-4">
          <nav class="absolute bottom-12 left-0 w-full flex justify-center py-4 md:py-6 text-black text-sm md:text-lg font-bold tracking-widest uppercase font-fleisch">
            <ul class="flex space-x-6 md:space-x-12">
              <li><a href="#about-us" class="hover:text-yellow-900 transition duration-300">About Us</a></li>
              <li><a href="#team-partners" class="hover:text-yellow-900 transition duration-300">Team Partners</a></li>
              <li><a href="#calendar" class="hover:text-yellow-900 transition duration-300">Calendar</a></li>
              <li><a href="#join-us" class="hover:text-yellow-900 transition duration-300">Join Us</a></li>
            </ul>
          </nav>
        </div>

        <div class="hidden md:block absolute right-18 top-6">
          <img src="/location_tag_r2.svg" alt="location right" class="w-full h-full object-contain">
        </div>

        <footer class="w-full text-center absolute bottom-6 text-black">
         &copy; <span id="year"></span> Réunion Racing. All rights reserved.
        </footer>
      </div>

    </section>

</ReunionLayout>

<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>

